/* Add custom CSS here */

/* Index*/
#indexPageBanner{
  background: url('../img/sandt_marinaKitchen_chefs.jpg') no-repeat top center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  margin-top: 62px;
  height: 440px;}

#pageBanner{
  margin-top: 62px;
  height: 240px;}

#formWrapper{
  margin-top: -100px;
  padding: 12px 24px !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                      0 2px 10px 0 rgba(0,0,0,0.12);
     -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                      0 2px 10px 0 rgba(0,0,0,0.12);
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                      0 2px 10px 0 rgba(0,0,0,0.12);}

#formWrapper input[type="submit"]{
  margin-right: 45px;
  width: calc(100% - 45px);}

#formWrapper .switch-field p{
  margin-bottom: 0px;
  display: inline-block;}

#formWrapper  .switch-field p i.gorbeh_room_service{
  font-size: 30px;
  width: 45px;}

#formWrapper .switch-field label.joqd.switch{
  display: inline-block;
  float: left;}

#formWrapper .switch-field  label.joqd.switch input:checked + .joqd.lever .joqd.trigger{background-color: #f44336;}
#formWrapper .switch-field  label.joqd.switch input:checked + .joqd.lever {background-color: #e57373;}

#alreadySignedUp{
  font-size: 12px;
  padding: 12px;}

#about{
  margin-top: -190px;
  margin-bottom: 50px;}

#about h1{
  font-size: 72px;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(156, 156, 156, 0.7);
  margin-right: 24px;}

footer{margin-top: 25px}

footer a{
  font-size: 16px;
  padding-left: 36px;}

.shadowed{

  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                      0 2px 10px 0 rgba(0,0,0,0.12);
     -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                      0 2px 10px 0 rgba(0,0,0,0.12);
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),
                      0 2px 10px 0 rgba(0,0,0,0.12);}

}


/*SignUp*/
.custom-input .joqd.input-field .joqd.prefix{right: 12px !important;}
.custom-input .joqd.input-field .joqd.prefix ~ label{left: 57px !important;}
.custom-input .joqd.input-field .joqd.caret{left: 12px !important}

.input-field.alaki{height: 80px}
.input-field.isChef{padding-top: 25px;}

/*User*/
main#user{margin-top: 62px}

#profileWrapper{padding: 12px}

#profilePicWrapper{
  float: right;
  width: 20%;}
#profileAboutWrapper{
  float: right;
  width: 80%}

#profileAboutWrapper h1,
#profileAboutWrapper p{padding: 0px 25px 0px 12px}

#makeNewPost form > div{padding: 0px 24px 12px 24px;}

.upload{
  padding-top: 20px;
  float: right;}

.upload label{
  cursor: pointer;
  font-size: 26px;
  padding: 12px}

.upload input{
  width: 0px;
  visibility: hidden}

#submit{
  float: left;
  margin-top: 20px}

#timeline .post h4{margin-top: 12px;}

#timeline .post p{text-indent: 20px;}

#timeline .post:not(:first-child){margin-top: 24px;}

#timeline .post.image-post h4{
  position: absolute;
  top: 12px; right: 0px;
  background: rgba(0, 0, 0, 0.63) none repeat scroll 0% 0%;
  margin: 0px;
  padding: 18px 12px 18px 36px;
  color: white;
  max-width: 100%;
}
